<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <p>We are your go-to experts for high-quality voice-over services. Specializing in various genres and styles, we bring your audio projects to life with unparalleled professionalism.</p>
  </div>
  <div class="col-lg-4">
    <p>From commercials and audiobooks to corporate presentations, our voice-over services are tailored to meet your specific needs. Trust us to deliver a sound that captures your brand's essence.</p>
  </div>
</div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://about.me/rob.nash" class="btn btn-lg btn-outline">
          <i class="fa fa-user"></i> Meet Rob
        </a>
      </div>
    </div>
  </div>
</section>
